# 2 . Iris Dataset

In [3]:
# data frames.
import pandas as pd

# machine learning library that contains example data sets.
import sklearn as skl


#load the iris dataset
df=pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv')

# have a look
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

## Steps followed:

firstly i have imported the pandas function to read comma seperated values (csv), which will be in the data set

 i have renamed to pd for short

 then i have imported the sklearn package which is a machine learning libraries for Python.good for practicing on datasets.
 will need down the line so adding now.

 i have renamed to skl for short

 then to load the iris dataset, i used df, which  is a pandas fuction that will display the dataframe
 i used this github link because it was the one from the example in our lecture.

## References used for this:

 Reference: pandas- "https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html"
 
 Reference: Ian McLoughlin Lecture : week 3 practical-pands and loading datasets

# 3.1. Output a summary of each variable to a single text file.

In [ ]:
# the variables in a dataset are called features

# in the iris dataset the features are the measurements of the 3 flowers and the species of the flowers,which are the target variable

# the iris datset has 4 features:

# sepal length in (cm) ,sepal width in (cm), petal length in (cm), petal width in (cm)

# (sepal is the stem of the plant and petal is the flower part of the plant)

# Reference:

#  geeksforgeeks.org (2024) iris dataset [online] available at: https://www.geeksforgeeks.org/iris-dataset/ [ accessed 11th may 2025]

In [5]:
# to Output a summary of each variable to a single text file, i will need to use other panda functions

#reference

# all which can be found on the pandas website- Reference: "https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html"




import pandas as pd

#import the load_iris function 

# load_iris() is a panda function that enables you to load in data from Scikit-learn ,
# and you can then chose what specific data you would like to be displayed like in the example below with "feature_names"

#Reference:

# chatgpt- prompt-explain load_iris(), "https://chatgpt.com/c/6813ac34-43f0-8003-b08c-170c373f4fb8"

from sklearn.datasets import load_iris

# Load Iris dataset
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

# Get summary statistics
# The describe() function in pands can be used to summary of the dataset, 
# his includes the count, mean, std, min, 25%, 50%, 75%, and max values for each feature.
# we will include all to display all features in the dataset
# describe will equal to a summary

summary = df.describe(include='all')

# Write summary to text file
#the summary will be under the name iris_summary.txt

with open('iris_summary.txt', 'w') as f:
    f.write("Summary Statistics for Iris Dataset\n")
    f.write("="*50 + "\n\n")
    f.write(str(summary))

# Reference:

# chatgpt-prompt- how to get a summary of each variable to a single text file,
#  https://chatgpt.com/c/682229f2-c4e8-8003-80d3-05eb8dcb78, accessed [12th may 2025]

# this is how i got the code to put it in to a text file